$cBlack: #191414;
$cGreen: #1DB954;
$cDarkGreen: #095223;
$cWhite: #FFFFFF;
$cRed: #FF0000;
$cDarkRed: #840000;



body {
  background: $cBlack;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color .5s;

  div#app {
    padding: 0;
    margin: 0;
    width: 100vw;
  }

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: $cWhite;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* 
  ##Device = Mobile Small
  ##Screen = 320px
*/

/* I usually don't like to write like this
   but in this case, it is fine.
*/

@media (min-width: 320px) and (max-width: 767px) {

  //CSS
  div#main {
    transition: margin-left .5s;
    padding: 16px;

    p#desktop-footer-copyright {
      display: none;
    }

    div#navbar {
      width: 100vw;
      height: 40px;

      a#btn-open-menu {
        padding: 20px 0px 0px 10px;
        font-size: 30px;
        text-decoration: none;
      }

      div#navbar-items {
        display: none;
      }

    }

    div#step-1 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100vw;
      height: 70vh;

      div#core-content {
        display: inline-block;
        text-align: center;

        div#question {
          div#formatted-desktop-question {
            display: none;
          }

          div#formatted-mobile-question {
            margin: 50px 0px 50px 0px;

            p {
              margin: 10px 0px;
            }

            p:nth-child(1),
            p:nth-child(2),
            p:nth-child(4) {
              font-size: 25px;
            }

            p:nth-child(3) {
              text-decoration: underline;
              color: #3498DB;
              font-size: 27px;
            }
          }
        }

        div#answers {
          width: 80vw;

          div {
            padding: 1px 4px;
            border-radius: 25px;
            transition: background .5s;

            p {
              transition: color .5s;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
          }

          div#btn-yes-get-new {
            background: $cGreen;
            margin: 40px 0px 20px 0px;

            &:hover,
            &:focus {
              background: $cDarkGreen;
            }

            &:active {
              background: $cWhite;

              p {
                color: $cGreen;
              }
            }
          }

          div#btn-no-change-genre {
            background: $cRed;

            &:hover,
            &:focus {
              background: $cDarkRed;
            }

            &:active {
              background: $cWhite;

              p {
                color: $cRed;
              }
            }
          }
        }

      }
    }

    div#step-2 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100vw;
      height: 70vh;

      div#core-content {
        display: inline-block;
        text-align: center;

        div#question {
          div#formatted-desktop-question {
            display: none;
          }

          div#formatted-mobile-question {
            margin: 10px 0px 50px 0px;

            p {
              margin: 10px 0px;
            }

            p:nth-child(1){
              font-size: 25px;
            }

            p:nth-child(2) {
              text-decoration: underline;
              color: #3498DB;
              font-size: 27px;
            }
          }
        }

        div#answers {
          width: 80vw;
            
          margin: 0 0 0 5vw;

          div {
            padding: 1px 4px;
            border-radius: 25px;
            transition: background .5s;

            p {
              transition: color .5s;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
          }

          div#btn-yes-get-new {
            background: $cGreen;
            margin: 40px 0px 20px 0px;

            &:hover,
            &:focus {
              background: $cDarkGreen;
            }

            &:active {
              background: $cWhite;

              p {
                color: $cGreen;
              }
            }
          }

          div#btn-no-change-genre {
            background: $cRed;

            &:hover,
            &:focus {
              background: $cDarkRed;
            }

            &:active {
              background: $cWhite;

              p {
                color: $cRed;
              }
            }
          }
        }

        div#music-player {
          background: white;
          width: 100vw;
          height: 80px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }

      }
    }

  }

  div#mobile-panel {
    background: $cWhite;
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;

    a#btn-close-menu {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      color: $cBlack;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 50px 0px 10px 25px;

      li {
        padding: 20px 0px 5px 0px;

        a {
          text-decoration: none;
          color: $cBlack;
        }
      }
    }

    p {
      color: $cBlack;
      font-size: 12px;
      text-align: center;
      position: absolute;
      top: 88vh;
      left: 0;
      right: 0;

      a {
        color: $cRed;
        text-decoration: none;
      }
    }
  }

}

/* 
  ##Device = Mobile Medium
  ##Screen = 375px
*/

@media (min-width: 375px) {

  //CSS

}

/* 
  ##Device = Mobile Large
  ##Screen = 425px
*/

@media (min-width: 425px) {

  //CSS

}

/* 
  ##Device = Tablets
  ##Screen = 768px
*/

@media (min-width: 768px) {

  //CSS

  div#app {
    div#mobile-panel {
      display: none;
    }

    div#main {
      div#navbar {
        height: 60px;

        a#btn-open-menu {
          display: none;
        }

        div#navbar-items {
          display: block;
          float: right;
          padding: 10px 20px 0px 0px;

          ul {
            list-style-type: none;

            li {
              float: left;

              a {
                text-align: center;
                text-decoration: none;
                padding: 26px;
                font-size: 20px;
              }
            }
          }
        }
      }

      div#step-1 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 100vw;
        height: 70vh;

        div#core-content {
          display: inline-block;
          text-align: center;

          div#question {
            margin-top: 120px;

            div#formatted-mobile-question {
              display: none;
            }

            div#formatted-desktop-question {
              display: block;

              p {
                font-size: 35px;

                span {
                  text-decoration: underline;
                  color: #3498DB;
                }
              }
            }
          }

          div#answers {
            width: 80vw;
            margin: 50px 0px;
            padding: 50px 0px 0px 0px;
            text-align: center;

            div {
              padding: 1px 4px;
              border-radius: 25px;
              transition: background .5s;
              max-width: 600px;
              p {
                font-size: 20px;
                transition: color .5s;
              }
            }

            div#btn-yes-get-new {
              background: $cGreen;
              float: left;
              /* Just a 'hack' to keep space between
                 buttons and sides 'beautiful' */
              margin-left: 2.5vw;
              width: 35vw;
              cursor: pointer;

              &:hover,
              &:focus {
                background: $cDarkGreen;
              }

              &:active {
                background: $cWhite;

                p {
                  color: $cGreen;
                }
              }


            }

            div#btn-no-change-genre {
              background: $cRed;
              width: 35vw;
              float: right;
              cursor: pointer;

              &:hover,
              &:focus {
                background: $cDarkRed;
              }

              &:active {
                background: $cWhite;

                p {
                  color: $cRed;
                }
              }
            }

            /* Just a clearfix for these floats */
            &:after {
              content: "";
              clear: both;
              display: table;
            }
          }

        }
      }

      div#step-2 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 100vw;
        height: 70vh;

        div#core-content {
          display: inline-block;
          text-align: center;

          div#question {
            margin-top: 80px;
            margin-bottom: 80px;

            div#formatted-mobile-question {
              display: none;
            }

            div#formatted-desktop-question {
              display: block;

              p {
                font-size: 35px;

                span {
                  text-decoration: underline;
                  color: #3498DB;
                }
              }
            }
          }

          div#answers {
            width: 80vw;
            margin: 100px 0 0 0;
            text-align: center;

            div {
              padding: 1px 4px;
              border-radius: 25px;
              transition: background .5s;
              max-width: 600px;

              p {
                font-size: 20px;
                transition: color .5s;
              }
            }

            div#btn-yes-get-new {
              background: $cGreen;
              float: left;
              /* Just a 'hack' to keep space between
                 buttons and sides 'beautiful' */
              margin-left: 2.5vw;
              width: 35vw;
              cursor: pointer;

              &:hover,
              &:focus {
                background: $cDarkGreen;
              }

              &:active {
                background: $cWhite;

                p {
                  color: $cGreen;
                }
              }


            }

            div#btn-no-change-genre {
              background: $cRed;
              width: 35vw;
              float: right;
              cursor: pointer;

              &:hover,
              &:focus {
                background: $cDarkRed;
              }

              &:active {
                background: $cWhite;

                p {
                  color: $cRed;
                }
              }
            }

            /* Just a clearfix for these floats */
            &:after {
              content: "";
              clear: both;
              display: table;
            }
          }

          div#music-player {
            width: 100%;
            background: white;
            height: 120px;
          }

        }
      }

      p#desktop-footer-copyright {
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 90vh;
        font-size: 14px;

        a {
          text-decoration: none;
          color: $cRed;
        }

      }
    }
  }

}

/* 
  ##Device = Laptop
  ##Screen = 1024px
*/

@media (min-width: 1024px) {

  div#navbar {
    div#navbar-items {
      padding: 0px 20px 0px 0px;

      ul {
        li {
          a {
            padding: 32px;
            font-size: 24px;
          }
        }
      }
    }
  }

}

/* 
  ##Device = Laptop Large
  ##Screen = 1440px
*/

@media (min-width: 1440px) {

  div#navbar {
    div#navbar-items {
      padding: 0px 22px 0px 0px;

      ul {
        li {
          a {
            padding: 38px;
            font-size: 26px;
          }
        }
      }
    }
  }

}

/* 
  ##Device = Desktops
  ##Screen = XL - 4K 2560px
*/

@media (min-width: 2560px) {

  div#navbar {
    div#navbar-items {
      padding: 0px 36px 0px 0px;

      ul {
        li {
          a {
            padding: 62px;
            font-size: 42px;
          }
        }
      }
    }
  }

}